body { 
    max-width: 1280px;
    margin: 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: beige;
    }
 h1 {
     margin-block-start:0,65mm;
     margin-block-end: 0,65mm;
     display: block;
     margin: 0%;
     margin-block-start: 0%;
     margin-inline-end: 0%;
     font-weight: bold;
 }
 .listcontainer .learn {
    width: 50px;
    background: rgb(240, 255, 254);
    margin: 5px;
 }
 .listcontainer.do {
     width: 50px;
     background: fuchsia;
     margin: 5px;
 }
    
 #logo {
    display: inline;
    margin-right: 10px;
    border-radius: 12px;
    max-width: 300px;


 }
 #banner {
    width: 1280px;
    
 }
 header {
    background: orange;
    color: whitesmoke

 }
 #main-nav {
     color: whitesmoke;
    margin: 20px;
    margin-top: auto;
   background: khaki
   
}
.learn{
    width: 50px;
    margin: 5px;
    background: darkturquoise;
}
.done {
    height: 300px;
    width: 600px;
    float: left;
    padding: 10px;
    margin-left: 10px;
    margin-right: 15px;
    margin-bottom: 30px;
    background: lemonchiffon;
}
.undone {
    height: 300px;
    width: 300px;
    padding: 10px;
    overflow: hidden;
    margin-bottom: 30px;
    background: lemonchiffon;
}
ul{
    display: inline-block;
    padding: 10px;
    list-style-type: none;
}
.checklist li {
    position: relative;
    top: -4px;
    color: lightblue;
    font-size: 14px;
    margin: 15px 0;
}

footer {
    background:darksalmon
}
nav {
    text-align: left;
    background: darksalmon
}

 h1 {
     text-align: center;
 

 }
 #perfil {
    width: 200px;
    float: left;
}
