body { 
    max-width: 1280px;
    margin: 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background:whitesmoke;
    }
 h1 {
     margin-block-start:0,65mm;
     margin-block-end: 0,65mm;
     display: block;
     margin: 0%;
     margin-block-start: 0%;
     margin-inline-end: 0%;
     font-weight: bold;
 }
 main {
     background: khaki;
 }

 .checklist {
     background: azure;
     display: inline-block;
     
 }
    
 #logo {
    display: inline;
    margin-right: 10px;
    border-radius: 12px;
    max-width: 300px;


 }
 #banner {
    width: 1280px;
    
 }
 header {
    background: orange;
    color: whitesmoke

 }
 #main-nav {
     color: whitesmoke;
    margin: 20px;
    margin-top: auto;
   background: khaki
   
}
.learn{
    width: 50px;
    margin: 5px;
    background: darkturquoise;
}


ul{
    display: inline-block;
    padding: 10px;
    list-style-type: none;
}
.checklist li {
    position: relative;
    top: -4px;
    color: rgb(8, 3, 2);
    font-size: 14px;
    margin: 15px 0;
    
}

footer {
    background:orange;
    
}
nav {
    text-align: left;
    background: orange
}

 h1 {
     text-align: center;

 /*fin index */


 }
 #perfil {
    width: 200px;
    float: left;
}
#logo2 {
    display: inline;
    margin-right: 10px;
    border-radius: 12px;
    max-width: 300px;
}

/*fin biografria */

#logo3 {
    display: inline;
    margin-right: 10px;
    border-radius: 12px;
    max-width: 300px;
}
#sidebar{
   background: whitesmoke;
}
.img.card {
    width: 300px;
}
